@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');

@import "./bootstrap.min.css";
@import "./aos.css";
@import "./font-awesome-min.css";
/* @import "./owl.carousel.css"; */
/* @import "./owl.theme.default.min.css"; */

@import "./misc.css";

html,body,h1,h2,h3,h4,h5,h6,p,div,a,span {
	font-family: 'Instrument Sans', sans-serif !important;
  color: #000;
  font-weight: 400;
}
body{
  overflow-x: hidden!important;
}
.bg-header{
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 8px !important;
  position: sticky;
}
header{
  position: sticky;
  z-index: 99;
  background: white;
  width: 100%;
}
header .nav-link{
  color:#222!important;
  position:relative;
  font-weight: 500!important;
}
.navbar-nav .nav-link {
  text-decoration: none !important;
}
.navbar-nav a{
  text-decoration: none;
  }

header .navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px 30px 20px 30px!important;
}
header .nav-link.active::before{
  position: absolute;
  content: '';
  bottom: -10px;
  border-bottom: 3px solid #e8bf24;
  left: 0;
  right: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

/* let anchor cover the button area */
button a{
  display: block;
}
.hero-container {
  min-height: calc(100vh - 90px);
}
.bg-banner{
  background:url("/2023/images/bg-header-dot.png")repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
.bg-banner-overlay{
  background:url("/2023/images/bg-bannerimg.png")no-repeat!important;
  background-position: right bottom!important;
  background-size: 48% !important;
  height: calc(100vh - 90px);
}
.register-btn .green-btn {
  width: 100%;
}
.register-btn .submit-btn {
  width: 100%;
}
.register-btn-extra-padding {
  padding: 10px;
}
.green-btn {
	color: white;
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 1px;
	padding: 13px 20px 13px;
	outline: 0;
	border: 2px solid black;
	cursor: pointer;
	position: relative;
	background-color: transparent;
	z-index: 2;
}
.green-btn:after {
	opacity: 0.7;
	content: "";
	background-color: #1f928d;
	width: 100%;
	z-index: -1;
	position: absolute;
	height: 100%;
	top: 7px;
	left: 7px;
	transition: 0.2s;
}
.green-btn.buy-ticket{
  font-weight: 400;
}
.green-btn.buy-ticket::after{
  opacity: 1;
  top: 0;
  left: 0;
}
.green-btn.buy-ticket:hover:after{
  opacity: 0.8;
}
.green-btn:hover:after {
	top: 0px;
	left: 0px;
	opacity: 1;
}
.submit-btn a{
  color:#000!important;
}
.submit-btn {
	color: black;
	font-size: 16px;
	font-weight: 200;
	padding: 13px 20px 13px;
	border: 2px solid black;
	cursor: pointer;
	position: relative;
	background-color: transparent;
	z-index: 2;
}
.submit-btn:after {
	opacity: 0.6;
	content: "";
	background-color: #eac141;
	width: 100%;
	z-index: -1;
	position: absolute;
	height: 100%;
	top: 7px;
	left: 7px;
	transition: 0.2s;
}
.submit-btn:hover:after {
	top: 0px;
	left: 0px;
	opacity: 1;
}
.date-text{
  text-shadow: 2px 2px #eac141!important;
}
.date-text img{
  width: 10%;
padding-left: 10px;
}
.conference h3,.workshop h3,.dev h3{
  font-size:18px!important;
  position:relative;
}
.conference h3:before,.workshop h3:before,.dev h3:before{
  border-bottom: 3px solid #eac141 !important;
  position: absolute;
  content: '';
  width: 40px;
  left: 0;
  bottom: -5px;
}
.conference p,.workshop p,.dev p{
  font-size:16px;
}
#journey{
  background:#fdfbf5!important;
}
.com-head{
  font-size:50px!important;
  text-shadow: 2px 2px #eac141!important;
}
.bg-journey .carousel-control-prev{
  left: -60px !important;
width: 35px !important;
height: 35px !important;
border: 1px solid #83c0ba;
top: 0;
bottom: 0;
margin: auto;
border-radius: 50px!important;

}
.bg-journey .carousel-control-next{
  right: -60px !important;
width: 35px !important;
height: 35px !important;
border: 1px solid #83c0ba;
top: 0;
bottom: 0;
margin: auto;
border-radius: 50px!important;
}
.bg-journey .carousel-control-prev-icon{
  background-image:url("/2023/images/arrow-left.png")!important;
  width:8px!important;
  height:13px!important;
}
.bg-journey .carousel-control-next-icon{
  background-image:url("/2023/images/arrow-right.png")!important;
  width:8px!important;
  height:13px!important;
}

.bg-journey .carousel {
	background:#fff url("/2023/images/bg-header-dot.png")repeat!important;
  border-radius:20px!important;
}
.bg-journey .com-head{
  font-size: 45px!important;
}
.bg-journey h2{
  font-size:30px!important;
}
.bg-journey p{
  font-size:14px!important;
}
.bg-speakers {
	background: #eac124 url("/2023/images/shadow-yel.png");
	height: 421px;
  position:relative;
}
.bg-speakers .com-head{
  text-shadow: 2px 2px #fff!important;
}
.bg-speakers .mikeimg{
  position: relative;
}
.bg-speakers .mikeimg img{
  position: absolute;
  top:-190px;
}
.bg-members{
  background:#fbfaf3!important;
}
.bg-members .top-up{
  margin-top:-12%!important;
  position:relative;
  z-index:999!important;
}
.bg-speakerbox{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px!important;
  border-radius:20px!important;
}
.bg-speakerbox{
  transition: transform ease 300ms;
}
.bg-speakerbox:hover{
  transform: translate(0, -10px);
}
.bg-speakerbox:hover h4{
  color:#068580!important;
}
.bg-conference{
  background:#fbfaf3 url("/2023/images/bg-con.png")no-repeat;
  background-position:right top!important;
}
.date-acc{
  font-weight: 600!important;
  font-size:25px!important;
}
.bg-conference .nav-item{
  padding:0 20px 0 0!important;
}
.bg-conference .nav-pills .nav-link{
  color: #000!important;
background-color: #f2eee2!important;
border-radius: 0;
padding: 20px 30px!important;
text-align: start;
}
.bg-conference .nav-pills .nav-link.active{
  background-color: #eac124!important;
}
.bt-bottom{
  border-bottom:2px solid #f2eee2!important;
}
.date-announced{
  font-weight:600;
  font-size:24px!important;
}
.date-content{
  font-size:18px!important;
  font-weight: 600!important;
  line-height: 2!important;
}
.ft-weight{
  font-weight: 500!important;
  font-weight: 18px!important;
}
.rt-green{
  background: #1b726f !important;
border-radius: 20px !important;
padding: 5px 20px !important;
text-transform: capitalize;
margin-left:10px!important;
}
.bg-reg,.bg-pricetable{
  background:#1b726f!important;
}
.flip-img1{
  padding-left: 35%;
}
.flip-img2{
  float: right;
margin-right: 15%;
}
.flip-img3{
  padding-top: 10%;
  padding-left: 15%;
}
.flip-img4{
  float: right;

}
.ticket-card{
  background:url("/2023/images/tickets.png")no-repeat;
  height:475px!important;
  background-position: center!important;
}
.ticket-card h5{
  font-size:25px!important;
}
.ticketrate{
  font-weight:700;
  font-size:32px!important;
}
.ticketsub{
  font-weight:400;
  font-size: 16px!important;
}
.ticket-end{
  margin-top: 40%;
color: #edc939;
font-weight: 700;
font-size: 30px;
text-decoration: underline;
}
.sponsortitle{
  background:#eabe0b!important;
  padding:20px 30px!important;
  text-align: center!important;
  color:#000!important;
  font-weight: 600;
  width:20%!important;
  margin:0 auto!important;
  font-size:25px!important;
}
.sp-sor{
  border-bottom:2px solid #1f928d!important;
}
.bt-circle img{
  border: 1px solid #f5dda1;
  border-radius: 10px;
  padding: 25px;
  height: 95px;
width: 90%;
}
.com-head-1{
  font-size: 42px !important;
}
.bg-hall{
  background: url("/2023/images/bg-hall.png")no-repeat;
  background-size: cover;
  height:726px!important;

}
.hallhead{
  font-size:35px!important;
  line-height: 2;
}
.bg-hall iframe{
  border-radius: 10px!important;
}
.bg-subscribe input{
  border: unset !important;
border-bottom: 1px solid #f1d87a !important;
width: 90%;
}
.bg-footer {
  background:url("/2023/images/bg-header-dot.png")repeat;
}
.footer-title{
  font-size:15px!important;
}
.bg-footer .social a img{
  border-radius: 5px!important;
}
.bg-footer .list-group-item{
  background: unset !important;
border: unset !important;
padding:0 10px 0 0 !important;
}

@media(max-width:768px){
  .headerlogo{
    width: 70%!important;
  }
  .navbar-toggler{
    border:1px solid #000!important;
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow:unset!important;
  }
  header .nav-link.active::before {
    content:unset!important;
  }
  .navbar-nav{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 30px 10px 30px !important;
  }
  header .dropdown-item{
    text-align: center!important;
  }
  .date-text img {
    width: 16%!important;
  }
  .bg-banner-overlay{
    background-size: 58% !important;
  }
  .bg-journey .com-head{
    text-align: center!important;
  }
  .bg-journey h2 {
    font-size: 22px !important;
  }
  .s1-text.p-2{
    padding-top:30px!important;
  }
  .bg-journey .carousel-control-next {
    right: 0 !important;
    width: 35px !important;
    height: 35px !important;
    border: 1px solid #83c0ba;
    top: -41px;
    bottom: unset !important;
    margin: 0 auto;
    border-radius: 50px !important;
    left: 60px!important;
  }
  .bg-journey .carousel-control-prev{
    left: 0 !important;
    width: 35px !important;
    height: 35px !important;
    border: 1px solid #83c0ba;
    top: -41px;
    bottom: unset !important;
    margin: 0 auto;
    right:60px!important;
    border-radius: 50px !important;
  }
  .bg-speakers .mikeimg img {
    position:unset!important;
    top:unset!important;
  }
  .bg-speakers{
    height:unset!important;
  }
  .com-head{
    font-size: 30px!important;
  }
  .bg-conference{
    background-size: 100%!important;
  }
  .bg-conference .com-head{
    display: flex!important;
  }
  .bg-conference .com-head img{
    width: 14%!important;
  }
  .bg-conference .nav-pills,
  .bg-conference #pills-tabContent{
    display: none!important;
  }
  .date-announced {
    font-size: 18px !important;
  }
  .date-content {
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: unset!important;
  }
  .accordion-button:not(.collapsed) {
    color: #000!important;
    background-color: #eabe0b!important;
  }
  .accordion-button:focus{
    border-color:unset!important;
    box-shadow:unset!important;
  }
  .rt-green{
    margin-left:unset!important;
  }
  .sponsortitle{
    width:unset!important;
  }
  .com-head-1 {
    font-size: 30px !important;
    margin-bottom:10px!important;
  }
  .hallhead {
    font-size: 25px !important;
    line-height: 2;
  }
  .footer-title {
    font-size: 14px !important;
  }
}
