@import url(https://fonts.google.com/specimen/Jura);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


.cen-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}

.container { 
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "PyCon PyCon Wheel T1"
    "PyLogo India Wheel T2";
}

.PyLogo { grid-area: PyLogo; text-align: center; }

.India { grid-area: India; }

.Wheel { grid-area: Wheel; }

.T1 { grid-area: T1; }

.T2 { grid-area: T2; }

.PyCon { grid-area: PyCon; }


/* ------------ mobile-css ------------ */

/* py-con-mobile container */
.py-con-mobile {  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.Py-Main-Area { grid-area: 1 / 2 / 2 / 3; }

/* - mobile-first-banner  */
.py-banner-area {  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.py-banner { grid-area: 1 / 2 / 2 / 3; }

/* hyd-date-announcement */
.py-hyd {  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.Lotus-Yellow-Hyd { grid-area: 1 / 1 / 2 / 2; }

.Hyd-Date { grid-area: 1 / 2 / 2 / 3; }

.Lotus-Green-Hyd { grid-area: 1 / 3 / 2 / 4; }

/* our calls heading */
.our-call {  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.green-orna { grid-area: 1 / 1 / 2 / 2; }

.Our-Calls { grid-area: 1 / 2 / 2 / 3; }

.Yellow-orna { grid-area: 1 / 3 / 2 / 4; }


/* our call grid */

.our-call-grid {  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 5% 5%;
  grid-auto-flow: row;
  grid-template-areas:
    "CFV CFS"
    "CFP CFTI"
    "CFCS CFDR";
}

.CFV { grid-area: CFV; }

.CFP { grid-area: CFP; }

.CFCS { grid-area: CFCS; }

.CFS { grid-area: CFS; }

.CFTI { grid-area: CFTI; }

.CFDR { grid-area: CFDR; }

/* follow us */
.follow-us {  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 5% 5%;
  grid-auto-flow: row;
  grid-template-areas:
    "MailingList LinkedIn"
    "Twitter Instagram";
}

.MailingList { grid-area: MailingList; }

.LinkedIn { grid-area: LinkedIn; }

.Twitter { grid-area: Twitter; }

.Instagram { grid-area: Instagram; }

.Banner { grid-area: 1 / 2 / 2 / 3; }

.banner-split {  
  display: grid;
  grid-template-columns: 2fr auto;
  gap: 0px 2px;
  grid-auto-flow: row;
}

.Pycon-Text { grid-area: 1 / 1 / 2 / 2; }

.India-Text { grid-area: 2 / 1 / 3 / 2; }
